<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="sqlSessionFactory"
    		class="org.mybatis.spring.SqlSessionFactoryBean"
    		p:dataSource-ref="dataSource"
    		p:configLocation="classpath:conf/mybatis/sqlMapConfig.xml" />

    <!-- Tomcat JNDI  -->
    <jee:jndi-lookup id="dataSource" jndi-name="jdbc/MySqlDS" resource-ref="true"/>

    <!---
    context.xml
    <Resource name="jdbc/MySqlDS" username="root" password="1111" url="jdbc:mysql://127.0.0.1:3306/BAMONS?useUnicode=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" validationQuery="select 1" auth=" Container" driverClassName="org.gjt.mm.mysql.Driver" maxActive="50" maxIdle="10" maxWait="-1" type="javax.sql.DataSource"/>

    server.xml
    <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true"/>
    -->

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="dataSource" />
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>